@import "et-line.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:15px;
	color: #777777;
	line-height: 26px;
}

.page{
	position: relative;
	overflow: hidden;
}

/*---------Header----------*/
header a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-decoration: none;
	font-size: 15px;
}

.site-header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 15px;
	z-index: 9999;
}

.site-logo img{
	width: auto;
	height: auto;
}

.site-logo a{
	border-bottom: 1px solid;
}

.header-inner{
	display: flex;
	flex-direction: column;
}

.nav-list{
	list-style: none;
}
.nav-list a:hover{
	opacity: 0.5;
}

.logo-span{
	font-size: 15px;
}

.site-navigation{
	padding-top: 10px;
}
/*---------Header----------*/


/*------All-font-style*/
blockquote{
	font-size:18px;
	padding-bottom: 15px;
	line-height: 38px;
}

h1,
h2,
h3,
h5{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}
h1{
	margin-top: 50px;
	font-size: 20px;
	opacity: 0.9;
}

h2{
	font-size: 15px;
	text-align: center;
}

h3{
	font-size: 17px;
	letter-spacing: 0.3em;
	color: #777777;
}

h4{
	font-size:15px;
	color: #fff;
	opacity: 0.6;
}

p{
	line-height: 26px;
}

span{
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

dt{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #777777;
}

dd{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444444;
}

input, textarea{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	letter-spacing: 0.2em;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #e5e5e5;
}

.info-span{
	letter-spacing: 0;
	font-size: 11px;
	text-transform: none;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.dark{
	background-color: #111111;
}

.white{
	color: white;
}

.black{
	color: black;
}

.invert q{
   opacity: 0.7;
}

.invert cite{
	opacity: 0.3;
}
/*------All-font-style*/


/*---------Sections---------*/
.section-md{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-1{
	position: relative;
	padding-top: 30px;
	padding-bottom: 70px;
	background-image: url(../images/back.jpg); 
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}

.section-1 h1 + h4{
	margin-top: 40px;
}

.section-3 span + h3{
	margin-top: 20px;
}

.section-3-1 h2 + p{
	margin-top: 20px;
}

.section-2{
	border-bottom: 2px solid rgba(13, 13, 13, 0.08);
}

.section-2 h2{
	text-align: left;
}

.section-5 h2{
	padding-bottom: 25px;
	letter-spacing: 0.3em;
}

.section-7 q + cite{
	margin-top: 30px;
}

.section-10 span + p{
	margin-top: 25px;
	margin-bottom: 25px;
}

.section-10 img + h5{
	margin-top: 25px;
	margin-bottom: 10px;
}

.section-11, .section-9 i + span{
	margin-left: 5px;
}
/*---------Sections---------*/


/*---------All-section1---------*/
.scroll{
	position: absolute;
	color: black;
	text-decoration: none;
	bottom: 5%;
	left: 50%;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 2px;
	transform: rotate(45deg);
}

.scroll i{
	color: #111;
	font-size: 15px;
	transform: rotate(-45deg);
	padding-left: 5px;
}
/*---------All-section1---------*/


/*---------All-section2---------*/
.about-art{
	text-align: left;
	padding-bottom: 15px;
}

.artist{
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.member-art{
	text-align: center;
	padding-bottom: 30px;
}

.member-art img{
	width: 100%;
	height: auto;
}
/*---------All-section2---------*/


/*---------All-section3---------*/

.icons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	list-style: none;
	font-size: 48px;
	text-align: center;
}

.mini-ct{
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-drk{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: black;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #cfcfcf; 	
	padding: 10px 40px;
	border: 1px solid;
	border-color: transparent;
	border-radius: 2px;
	transition: 0.5s;
}

.btn-drk:hover{
	background-color: transparent;
	border-color: #fff;
	color: #fff; 
}

.left-3-1 {
	padding-bottom: 50px;
}

.left-3-1 p{
	margin-bottom: 40px;
	opacity: 0.7;
	text-align: left;
}

.left-3-1 h2{
	letter-spacing: 0.3em;
	text-align: left;
}

.mak{
	position: relative;
}

.makbook img{
	width: 100%;
	height: auto;
}

.display{
	position: absolute;
	top: 0px;
	left: 9%;
	width: 82%;
	height: 70%;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	background-image: url(../images/page.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	transition: 3s;
}

.display:hover{
	background-position: 0px 100%;
	transition: 10s;
}
/*---------All-section3---------*/


/*---------All-section4---------*/
.info-70{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #777777;
}

 .button{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	opacity: 0.5;
	background-color: transparent;
	border: 0; 
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
}

 .is-checked{
	opacity: 1;
}

 .button-group{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
/*---------All-section4---------*/

/*---------All-section6---------*/
.choose{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 70px;
}

.choose span{
	font-size: 50px;
} 

.choose span + h3{
	margin-top: 35px;
}

.choose h3 + p{
	margin-top: 35px;
}

.choose p{
	text-align: left;
	color: #777777;
}

.choose h3{
	color: #000;
	letter-spacing: 0.4em;
}

/*---------All-section6---------*/

/*---------All-section7---------*/

.section-7 span[class*="icon"]{
	font-size: 32px;
	margin-bottom: 20px;
}
/*---------All-section7---------*/

/*---------All-section9---------*/


.contact{
	display: flex; 
   justify-content: flex-end;
   flex-direction: column;
   margin-bottom: 10px;
}

.icon-contacts{
	width: 25px;
	height: 25px;
	background-color: black;
	transform: rotate(45deg);
	border-radius: 3px;
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
}

.icon-contacts i{
	padding-left: 1px;
	transform: rotate(-45deg);
	font-size: 14px;
}

.section-9 address{
	margin-left: 10px;
	
}

 .submit{
	background: black;
	border: 1px solid transparent;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.radius{
	border-radius: 2px;
}

.submit:hover{
	border-color: black;
	background-color: grey;
}

.w100{
	width: 100%;
}

.info-form{
	text-align: left;
	font-size: 10px;
}


/*---------All-section9---------*/

/*---------All-section10---------*/
.news-inner{
	display: flex;
	justify-content: space-between;
}

.news-inner a{
	text-decoration: none;
	font-family: 'Dosis',sans-serif;
	color: #999999;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.2em;
	transition: 0.3s;
}

.news-inner a:hover{
	color: black;
	letter-spacing: 0.4em;
}

.news-btn{
	border: 1px solid transparent;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rgba(0,0,0, 0.1);
	text-decoration: none;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.2em;
	border-radius: 2px;
}

.news-btn:hover{
	background-color: black;
	color: white; 
}

.filter{
	text-align: center;
	filter: grayscale(0.8);
	margin-bottom: 25px;
}

.filter:hover{
	filter: grayscale(0);
}
/*---------All-section10---------*/

/*---------All-section11---------*/
.section-11{
	background-color: #f8f8f8;
}
/*---------All-section11---------*/

/*---------Offsets---------*/
.offset{
	margin-top: 70px;
}

.offset-1{
	margin-top: 40px;
}

.offset-carousel{
	padding-top: 140px;
	padding-bottom: 30px;
}

.offset-80{
	margin-top: 80px;
}

.offset-20-20{
	margin-top: 20px;
	margin-bottom: 20px
}

.offset-80-80{
	padding-top: 80px;
	padding-bottom: 80px;
}

.offset-5{
	padding-top: 60px;
	padding-bottom: 60px;
}

.offset-135-125{
	padding-top: 70px; 
}

.offset-second{
	padding-top: 80px;
	padding-bottom: 100px;
}

.offset-third{
	padding-top: 120px;
	padding-bottom: 40px;
}

.offset-third-1{
	padding-top: 120px;
}

.offset-drk{
	padding-bottom: 168px;
}

.offset-btn{
	padding-bottom: 50px;
}

.offset-100b{
	margin-bottom: 100px;
}

.offset-140{
	padding-top: 140px;
	padding-bottom: 70px;
}

.offset-140-140{
	padding-top: 140px;
	padding-bottom: 140px;
}

.offset-100-80{
	padding-top: 80px;
	padding-bottom: 120px;
}

.offset-footer{
	padding-top: 120px;
	padding-bottom: 60px;
}	

.offset-left{
	margin-left: 17%;
}

.offset-80b{
	margin-bottom: 80px;
}

.offset-140b{
	margin-bottom: 140px;
}

/*---------Offsets---------*/

/*----------Grid------------*/
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-12{
	width: 100%;
}

.col-6{
	width: 66.66%;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

[class*='col-'] {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.clearfix{
	content: "";
	display: table;
	clear: both;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

*, *:after, *:before {
	box-sizing: border-box;
}
/*---------Grid-------------*/


/*---------Media------------*/
/*----------------------------576----------------------------*/
@media (min-width: 576px) {
	h1{
		margin-top: 0px;
		font-size: 20px;
		letter-spacing: 1.5em;
	}

	.member-span,
	.logo-span,
	{
		font-size: 15px;
	}

	.member-art img{
		padding-bottom: 15px;
	}
	.button-group{
		flex-direction: row;
	}
 	.is-checked{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
/*----------------------------768----------------------------*/
@media (min-width: 768px) {
	.display{
		margin-top: -20px;
		height: 80%;

	}
	
	.offset-140{
		padding-bottom: 140px;
	}

	.makbook img{
		margin-top: -40px;
	}

	.logo-span{
		font-size: 11px;
	}

	.header-inner{
		justify-content: space-between;
		flex-direction: row;
	}
	
	.site-navigation{
		padding-top: 0px;
	}

	.nav-list{
		display: flex;
		flex-direction: row;
	}
	.nav-list a{
		padding-left: 40px;
		font-size: 12px;
	}
	.offset-135-125{
		padding-top: 70px;
	} 

	.member-art img{
		width: auto;
	}

	.col-1-3 {
		width: 33.33%;
	}

	.col-12{
		width: 100%;
	}

	.col-1-2{
		width: 50%;
	}

	h2{
		font-size: 19px;
	}

	h3{
		font-size: 15px;
	}

	dl{
		text-align: left;
	}

	dt{
		font-size: 12px;
	}

	.member-span{ 
		font-size: 12px;
	}
	
	blockquote{
		font-size:16px;
		padding-bottom: 15px;
	}

	.artist{
		font-size: 11px;
	}

	.offset-135-125{
		padding-top: 135px; 
	}

	.contact{
		flex-direction: row;
		justify-content: center;
	}

	.icon-contacts{
		margin-left: 5%;
		margin-right: 0;
	}

	.offset-100-80{
	padding-top: 120px;
	}

	.mark{
	width: 27px;
	height: 27px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	background-color: white;
	transform: rotate(45deg);
	border-radius: 3px;
}

}
/*----------------------------992----------------------------*/
@media (min-width: 992px) {
	.display{
		margin-top: -125px;
		height: 100%;
	}

	.makbook img{
		margin-top: -150px;
	}

	.member-art img{
		width: 100%;
		
	}
	
	.col-1-2{
		width: 50%;
	}

	.col-1-3{
		width: 33.33%;
	}
	

	h1{
		font-size: 25px;
		letter-spacing: 1.5em;
	}

	.button-group{
		justify-content: space-between;
	}

	.filter{
		text-align: left;
	}

}
/*----------------------------1200----------------------------*/
@media (min-width: 1200px) {
	h1{
		font-size: 30px;
		letter-spacing: 1.7em;
	}

	h4{
		font-size: 19px;
	}
	
	.section-1 h1 + h4{
		margin-top: 100px;
	}
	blockquote{  
		font-size:24px;
		line-height: 38px;
	}

	h2{
		font-size: 18px;
		letter-spacing: 0.5em; 
	}

	.form-contact .submit{
		margin-left: 50%;
	}
}

/*---------Media------------*/

/*--------Isotope-----------*/
 .grid{
	display: flex;
	flex-wrap: wrap;
}
 .grid-item img{
	width: 100%;
}
.grid-item{
	width: 100%;
	filter: grayscale(1);
	transition: 0.3s;
}
 @media ( min-width: 576px ){
	.grid-item{
		width: 50%;
	}
}
 @media ( min-width: 992px ){
	.grid-item{
		width: 33.3334%;
	}
}
 .grid-item:hover{
	filter: grayscale(0);
}
 /*--------Isotope-----------*/

/*-------Owl-carousel--------*/
.owl-item-inner{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 90%;
}

@media ( min-width: 1200px ){
		.owl-item-inner{
			width: 40%;
		}
}

.owl-carousel blockquote{
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.owl-carousel cite{
	letter-spacing: 0.2em;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 50px;
}

.owl-prev{
	position: absolute;
	left: 0;
	top: 0;
}

.owl-next{
	position: absolute;
	right: 0;
	top: 0;
}

.owl-prev:before, .owl-next:before{
	content: '';
	position: absolute;
	top: -50%;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 2px;
	transform: rotate(45deg);
}

.owl-prev:before{
	left: -30px;
}

.owl-next:before{
	right: -30px;
}

.owl-next span {
	position: absolute;
    color: black;
    margin-left: -9px;
    margin-top: 8px;
    font-size: 25px;
}

.owl-prev span {
	position: absolute;
    color: black;
    margin-left: 5px;
    margin-top: 8px;
    font-size: 25px;
}


.section-7 .owl-carousel .owl-dot{
	background: #fff;
	border:1px solid white;
	width: 8px;
	height: 8px;
	margin-left: 5px;
	margin-top: 50px;
	border-radius:50%;
}

.section-7 .owl-carousel .owl-dot + .active{
	background: transparent;
	border: 1px solid white;
}
/*-------Owl-carousel--------*/

/*----------------map----------------*/
#map{
	height: 400px;
	width: 100%;
}

.relative{
	position: relative;
}

.overflow-hidden{
	overflow: hidden;
}

.map-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(17,17,17, 0.9);
}

.map-overlay.hidden{
	opacity: 0;
	visibility: hidden;
}

.map-overlay h3{
	position: absolute;
	top: 50%;
	left: 50.5%;
	letter-spacing: 0.4em;
	transform: translate(-50%,-50%);
	transition: 0.3s;
}

.map-overlay h3:before{
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	width: 0;
	background-color: currentColor;
	transition: 0.3s;
	height: 2px;
	bottom: -5px;
}

.map-overlay h3:hover{
	cursor: pointer;
}

.map-overlay h3:hover:before{
	left: 0;
	right: 0;
	width: 100%;
}


.mark i{
	position: absolute;
	top: 25%;
	right: 25%;
	transform: rotate(-45deg);
	color: black;

}

/*footer*/

footer{
	background-color: #f8f8f8;
}

.footer-inner .icon-contacts{
	background-color: transparent;
	border: 1px solid black; 
	color: black;
	margin-left: 8px;
	margin-right: 8px;
	transition: 0.3s;
	border-radius: 0px;
}

.footer-inner .icon-contacts i{
	padding-left: 3px;
}

.footer-inner .icon-contacts:hover{
	background-color: black;
	color: white; 
}

.social{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

.footer-inner h5{
	font-size: 12px;
}
.footer-inner p{
	font-size: 11px;
}

/*footer*/


/*btn-totop*/



.totop-button{
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom:  20px solid #c6c6c6;
	z-index: 1000;
	transition: 0.3s;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;

}

.totop-button:hover{
	cursor: pointer;
	border-bottom-color: #111; 
}
.totop-button.show{
	opacity: 1;
	visibility: visible;
}